<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://thuylinhit07-001-site1.gtempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win8036.site4now.net:8172/msdeploy.axd?site=thuylinhit07-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>thuylinhit07-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>thuylinhit07-001</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="QuanLyBanThitEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL8006.site4now.net;Initial Catalog=db_aa20c6_login;Persist Security Info=True;User ID=db_aa20c6_login_admin;Password=thuylinh123;Encrypt=False;Trust Server Certificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BanSach.Models.QuanLyBanThitEntities, BanSach" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="QuanLyBanThitEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL8006.site4now.net;Initial Catalog=db_aa20c6_login;Persist Security Info=True;User ID=db_aa20c6_login_admin;Password=thuylinh123;Encrypt=False;Trust Server Certificate=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>