@using BanSach.Models;
@model List<ChuDe>

@foreach (var item in Model)
{

    <a id="btnChuDe" style="width:250px; font-size:11pt;color:aliceblue;background-color:#0055bd;text-decoration:none" href="@Url.Action("SachTheoChuDe", new {@MaChuDe=item.MaChuDe})" class="button button-submit">@item.TenChuDe</a>

}
<br />
<br />


<br />
<div style="clear:both"></div>

