@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  padding: 1.2rem 9%;
}

.headingmenu {
  background: url(../img/Capture.PNG) no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 8rem;
}
.headingmenu h1 {
  color: #fff;
  font-size: 4rem;
}
.headingmenu p {
  padding-top: 1rem;
  font-size: 2rem;
  color: #bac34e;
}
.headingmenu p a {
  color: #fff;
  padding-right: 0.5rem;
}
.headingmenu p a:hover {
  color: #bac34e;
}

.title {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  color: #222;
}
.title span {
  color: #bac34e;
  padding-left: 0.7rem;
}
.title a {
  margin-left: auto;
  color: #666;
  font-size: 1.5rem;
}
.title a:hover {
  color: #bac34e;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.about .image {
  flex: 1 1 40rem;
}
.about .image img {
  width: 100%;
}
.about .content {
  flex: 1 1 40rem;
}
.about .content span {
  color: #bac34e;
  font-size: 2.5rem;
}
.about .content h3 {
  color: #222;
  font-size: 3rem;
  padding-top: 0.5rem;
}
.about .content p {
  color: #666;
  font-size: 1.4rem;
  line-height: 2;
  padding: 1rem 0;
}

#txtTimKiem {
    float: left;
    margin-right:5rem;
    font-size:11pt;
    color:#000000;
}

    #txtTimKiem input {
        
    }

#divHinhAnhTiemKiem button {
    
    font-size:15pt;
    background-color: #14a19a;
}

 

.btnhome {
  display: flex;
  padding: 0.6rem 1rem;
  background: #bac34e;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 5rem;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.5rem;
  max-width: 130px;
  cursor: pointer;
}
.btnhome:hover {
  background: black;
}

.btnhome .bx {
  padding: 4px;
  background: #f3f3fe;
  color: #222;
  border-radius: 1.5rem;
  font-size: 20px;
  margin: auto;
}

.btn {
  display: flex;
  padding: 0.6rem 1rem;
  background: #bac34e;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 5rem;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.5rem;
  max-width: 102px;
  cursor: pointer;
}
.btn:hover {
  background: black;
}

.btn .bx {
  padding: 4px;
  background: #f3f3fe;
  color: #222;
  border-radius: 1.5rem;
  font-size: 20px;
  margin: auto;
}

.btnbox {
  padding: 0.6rem 1rem;
  background: #bac34e;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 5rem;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.5rem;
  max-width: 75px;
  cursor: pointer;
}
.btnbox:hover {
  background: black;
}

.btnbanner {
  padding: 0.6rem 1rem;
  background: #AAAAAA;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 0.5rem;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.5rem;
  max-width: 75px;
  cursor: pointer;
}
.btnbanner:hover {
  background: black;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #616049; /*doi mau thanh header*/
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}


.header .logo {
  font-size: 0rem;
  font-weight: bolder;
  color: #FFFFFF;
  float:left;
}
.header .logo a {
  color: #bac34e;
  padding-right: 2rem;
}
.header .logo img {
  max-width:70%;
  padding-right:1rem;
}
.header .navbar a {
  font-size: 1.7rem;
  color: #FFFFFF;
  margin: 0 1rem;
}
.header .navbar a:hover {
  color: #bac34e;
}
.header .icons div {
  font-size: 2.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  color: #FFFFFF;
}

.header .icons{
    padding-left:50rem;
    
}

.header #menu-search{
    padding-left:3rem;
}

.header .icons div:hover {
  color: #bac34e;
}


.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading h1 {
  font-size: 1.6rem;
  font-weight: 600;
}

.heading span {
  color: #bac34e;
}

#footer{
    
    background-color: #616049; /*doi mau thanh footer*/
    padding-top: 50px;
}
.body-footer{
    display: flex;
    flex-wrap: nowrap;
}
.part-footer{
    margin-left: 30px;
    width: 450px;
}
.title-footer h4 span{
    font-size: 15px;
    margin-left: 100px;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
}
.content-footer{
    margin-top: 20px;
}
.content-footer ul li{
    list-style: none;
    
}
.content-footer ul li p{
    font-weight: 400;
}
.content-footer ul li p{
    color: #FFFFFF;
    
}
.content-footer ul li a{
    text-decoration: none;
    color: #212529;
    font-weight: 400;
    color: #FFFFFF;
    transition: 0.3s;
}
.content-footer ul li a:hover{
    color: #7fad39;
    transition: 0.3s;
}
.inp-email-footer{
    height: 40px;
    width: 250px;
    padding-left: 10px;
    font-weight: 400;
    border: 2px solid #7fad39;
    border-radius: 5px;
}
.submit-email-footer{
    background-color: #FFFFFF;
    height: 40px;
    width: 80px;
    margin-bottom: 50px;
}
.icon-fl{
    margin-left: 45%;
    font-size: 24px;
}
.icon-fl i{
    padding: 10px 10px;
    color: #FFFFFF;
}
.last-footer{
    padding-top: 20px;
    width: 100%;
    height: 50px;
}
.last-footer p{
    color: #FFFFFF;
    font-size: 12px;
    padding-left: 37%;
    font-weight: 400;
}

.categories {
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
}

.products {
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, auto));
  gap: 1.5rem;
  margin-top: 2rem;
}

.products-container .box {
  text-align: center;
  box-shadow: 1px 2px 11px 4px rgba(14, 55, 54, 0.15);
  border-radius: 0.5rem;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.products-container .box h2 {
  padding-bottom: 0.5rem;
}

.products-container .box2 {
  text-align: center;
  box-shadow: 1px 2px 11px 4px rgba(14, 55, 54, 0.15);
  border-radius: 0.5rem;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.products-container .box2 h2 {
  padding-bottom: 0.5rem;
}

#menu-btn {
  display: none;
}

@keyframes fadeLeft {
  0% {
    transform: translateX(-5rem);
    opacity: 0;
  }
}
@keyframes fadeUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
}
.home {
  padding-top: 5rem;
  background: url(../img/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.home .slides-container .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  display: none;
}
.home .slides-container .slide.active {
  display: flex;
}
.home .slides-container .slide .content {
  
  animation: fadeLeft 0.4s linear 0.4s backwards;
}
.home .slides-container .slide .content span {
  color: #666;
  font-size: 2.5rem;
}
.home .slides-container .slide .content h3 {
  font-size: 6rem;
  color: #222;
  padding: 0.5rem 0;
}
.home .slides-container .slide .image {
  
  margin: 3rem 0;
}
.home .slides-container .slide .image img {
  width: 100%;
  animation: fadeUp 0.4s linear;
}
.home #next-silde,
.home #prev-silde {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
  background: #fff;
  font-size: 3rem;
  color: #222;
  cursor: pointer;
}
.home #next-silde:hover,
.home #prev-silde:hover {
  background: #bac34e;
  color: #fff;
}
.home #prev-silde {
  left: 2rem;
}
.home #next-silde {
  right: 2rem;
}

.banner-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}
.banner-container .banner {
  position: relative;
  height: 25rem;
  overflow: hidden;
}
.banner-container .banner:hover img {
  transform: scale(1.2);
}
.banner-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.banner-container .content {
  position: absolute;
  top: 88%;
  left: 2rem;
  transform: translateY(-50%);
  padding-left:18rem;
}
.banner-container .content span {
  color: #fff;
  font-size: 1.5rem;
}
.banner-container .content h3 {
  font-size: 2rem;
  padding-top: 0.5rem;
  color: #222;
}
.banner-container .content .btn {
  padding: 0.8rem 2.5rem;
}

.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.products .box-container .box {
  position: relative;
  background: #f3f3fe;
  text-align: center;
  overflow: hidden;
}
.products .box-container .box:hover .icons {
  top: 0;
}
.products .box-container .box .icons {
  position: absolute;
  top: -105%;
  left: 0;
  height: 30rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(243, 243, 243, 0.8);
  gap: 1rem;
}
.products .box-container .box .icons a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  color: #222;
}
.products .box-container .box .icons a:hover {
  background: #bac34e;
  color: #fff;
}
.products .box-container .box .icons .image {
  height: 30rem;
  width: 100%;
  overflow: hidden;
}
.products .box-container .box .icons .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.products .box-container .box .icons .content {
  padding: 1.5rem;
}
.products .box-container .box .icons .content h3 {
  font-size: 2rem;
  color: #222;
}
.products .box-container .box .icons .content .price {
  font-size: 2rem;
  color: #222;
  padding: 1rem 0;
}
.products .box-container .box .icons .content .stars i {
  font-size: 1.7rem;
  color: #bac34e;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  gap: 1rem;
  margin-top: 2rem;
}

.box-container .box {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
}

.box-container .box h2 {
  padding-top: 0.5rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.box-container .box a {
  text-align: center;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.banner-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  gap: 1rem;
  margin-top: 2rem;
}

.banner-container .box {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 0.5rem;
}

.banner-container .box h2 {
  padding-top: 0.5rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.banner-container .box a {
  text-align: center;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.footer {
  text-align: center;
}

.footer .icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .icons-container .icons {
  text-align: center;
  padding: 3rem 2rem;
}

.footer .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background: peru;
  color: #fff;
  margin-bottom: 1rem;
  line-height: 5.7rem;
  font-size: 2rem;
}

.footer .icons-container .icons p {
  font-size: 1.2rem;
  text-transform: none;
}

.credit {
  text-align: center;
  background: #bac34e;
  color: #fff;
  font-size: 2rem;
}

.login-form {
  position: absolute;
  top: 115%;
  right: -105rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  width: 35rem;
  padding: 2rem;
}
.login-form.active {
  right: 2rem;
  transition: 0.4s linear;
}
.login-form h3 {
  color: #222;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 0.7rem;
}
.login-form .box {
  margin: 0.7rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 1rem 1.2rem;
  font-size: 1.5rem;
  color: #222;
  text-transform: none;
}

.remember {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.7rem 0;
}
.remember label {
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
}

.btn {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}

p {
  color: #666;
  padding-top: 0.7rem;
  font-size: 1.4rem;
}
p a {
  color: #bac34e;
}
p a:hover {
  text-decoration: underline;
}

@media(min-width: 1025px) {
html{
    font-size:50%;
}

.header .icons div {
  
  font-size:16pt;
  cursor: pointer;
  color: #FFFFFF;
}

.header .navbar a {
   font-size:12pt;
}
}

@media(max-width: 1024px){
 html{
     font-size:40%;
 }

 .header .icons div {
  
  font-size:16pt;
  cursor: pointer;
  color: #FFFFFF;
}

 #txtTimKiem{
   font-size:10pt;
   max-width: 90px; 
    
    margin-right:100px;
}

 .header .navbar a {
   font-size:10pt;
}

}

@media (max-width: 800px){
html{
    font-size:30%;
}
.header .icons div {
  font-size:15pt;
  cursor: pointer;
  color: #FFFFFF;
}

 #txtTimKiem{
   font-size:8pt;
   max-width: 80px; 
    margin-right:10px;
    
}

 .header .navbar a {
   font-size:10pt;
   
}
}

@media (max-width: 768px) {
html{
    font-size:40%;
}
 #menu-btn {
  display: inline-block;
}
 .banner-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  overflow: auto;
}

 .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: black;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0rem 0%;

}
    
.header .navbar {
position: absolute;
top: 99%;
left: 0;
right: 0;
background: #fff;
border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.header .navbar.active {
clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.header .navbar a {
margin: 1.5rem;
padding: 1.5rem;
background: #f3f3fe;
font-size: 1.7rem;
display: block;
border-radius: 0.5rem;
color:#000000;

}

.header .navbar a:hover {
  color: #bac34e;
}
.header .icons div {
  
  font-size:14pt;
  cursor: pointer;
  color: #FFFFFF;
}

.header #menu-btn{

}

.header #login-btn{
  
}

.header #menu-search{
 
}

#txtTimKiem{
   font-size:8pt;
   max-width: 80px; 
    
    margin-right:100px;
}

.header .icons div:hover {
  color: #bac34e;
}

.footer .icons-container {
grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
gap: 1rem;
}

.footer .icons {
padding: 0.5rem;
text-align: center;
}

.footer .icons h3 {
font-size: 1rem;
margin-top: 0.5rem;
}

.footer .icons p {
font-size: 0.9rem;
margin-top: 0.3rem;
text-align: center;
}
}

@media (max-width: 480px) {
html{
    
}
.header .icons div {
  font-size:15pt;
  cursor: pointer;
  color: #FFFFFF;
}



 #txtTimKiem{
   font-size:8pt;
   max-width: 80px; 
    margin-right:10px;
    
}

 .header .navbar a {
   font-size:10pt;
   
}

.home .slides-container .slide .content h3 {
font-size: 5rem;
}

.footer .icons-container {
grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
gap: 1rem;
}

.footer .icons {
padding: 0.5rem;
text-align: center;
}

.footer .icons h3 {
font-size: 1rem;
margin-top: 0.5rem;
}

.footer .icons p {
font-size: 0.9rem;
margin-top: 0.3rem;
text-align: center;
}
}

        /*# sourceMappingURL=style.css.map */
